@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="response">
    
</div>
<button id="getChats" class="btn btn-primary">Get Chats</button>




@section Scripts {
<script>
@*$.get("@Url.Action("TestJson", "Chats")", function (response) {
            alert(response);
});*@

    $("#getChats").on("click", function (){
        $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
            var jsonTest = JSON.parse(serverResponse);
            console.log(jsonTest);
            $("#response").text(jsonTest.firstName);
        });
    });
</script>
    <script>
        $.each(jsonTest.children, function () {
            //$("#response").append("<li>" + firstName + "</li>");
            $.each(this, function (name, value) {
                console.log(value);
                $("#response").append("<li>" + value + "</li>");
            });
        });
        $("#response").append("</ul>");
    </script>
}